<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.paraframework.dao.SqlDao">
<select id="SearchObjectId" parameterType="com.paraframework.common.SqlUtil" resultType="int">
	${sql}
</select>
</mapper>
