@charset "UTF-8";

.question_container {margin-top: 1vw; width: 100%;}
.question_container .question_count {font-size: 1vw;}
.question_container .question_view {margin-top: 1vw; width: 100%; border-bottom: 1px solid #8C8C8C;}
.not_found {text-align: center; border-top: 1px solid #8C8C8C; background-color:white !important; color:black !important; padding-top:1vw; vertical-align: middle !important;}


.question_view {border-spacing: 0;}
.question_view tr td {vertical-align: top; padding:0.5vw 0; text-align: center; border-bottom: 1px solid #8C8C8C;}
.question_view tr:last-child td {border-bottom: none !important;}

.question_view tr:first-child td {background-color: #5D5D5D; color: white; border-right: 1px solid white !important;}
.question_view tr:first-child td:last-child {border-right: none !important;}

.question_view tr td:first-child {width: 10%;}
.question_view tr td:nth-child(2) {width: 30%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal;}
.question_view tr td:nth-child(2) a {width: 24vw; display: inline-block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal;}
.question_view tr td:nth-child(3) {width: 12%;}
.question_view tr td:nth-child(4) {width: 12%;}

.btn_section {width: 100%; margin-top: 1vw; text-align: center;}
.btn_section .open_modal {float: right; display: inline-block; font-size: 1vw; cursor:pointer;  background-color: #EAEAEA; padding: 0.8vw 1vw; border: 0.5px solid #BDBDBD; font-family: 'Gothic NeoL' !important;}
.btn_section .show_more {display: inline-block; font-size: 1vw; cursor:pointer;  background-color: #EAEAEA; padding: 0.5vw 3vw; border: 0.5px solid #BDBDBD; font-family: 'Gothic NeoL' !important;}

.question_edit {cursor: pointer;}

#info {width: 100%; min-height: 300px; width: 40vw;}

.ui-dialog .ui-dialog-content {height: 550px !important;}

#type, #content{width: 100%;}
