html, body {overflow-x:hidden; background-color: #e3e3dc;}
html, body, .container, .section {margin: 0; padding: 0;}
body {display: none; font-family : 'Gothic NeoUL' !important;}
ul {list-style: none;}
p, ul {margin: 0; padding: 0;}
a {text-decoration: none; font-weight: normal;}

.container {width:1200px; margin:auto; margin-top:80px;}
.section {width:100%;}
.container, .section {overflow : hidden}

/* 사용자 메뉴바 */
.menubar {clear:both; position:fixed; z-index:3334; top:0; left:0px; width: 100%;}
.logo_section {width: 100%; position: relative; height: 110px;}
.logo_img_box {display: inline-block; margin: 15px 0 0 25px; width: 13px;}
.logo_img_box img {width:100%;}

/* menubar */
.menubar {font-size: 14px;}
.deco_round {width: 7px; height: 7px; background-color: #ff5400; display: inline-block; vertical-align: top; margin-top: 7px; margin-left: 2px; border-radius: 100% 100%;}
.left_menu_layout {position: absolute; top: 0; left: 0; height: 100vh; width: 15px; border-right: 1px solid #737373; display: table;}
.left_menu_layout_cell {width:100%; height: 100%; display: table-cell; vertical-align: middle;}

.left_menu_container {top:-4px;}
.menu_line {display: inline-block; width: 5px; height: 1px; border-top: 1px solid #737373; vertical-align: top; margin-top: 8px; margin-right:11px;}
.menu_btn {cursor: pointer; letter-spacing: 0.5px;}
.menu_select_arrow {width: 10.5px; float: right; margin-right: -11px; position: relative; z-index: 10;}
.menu_line_box {padding:6.5px 0;}

.mobile_menu_open_btn {float: right; width: 30px; margin: 30px 20px 0 0; display: none;}
.mobile_menu_open_btn img {width:100%;}
.mobile_menu_container {display: none; box-sizing: border-box; overflow-x: hidden; overflow-y: auto; background: #e3e3dc;}
.mobile_menu_container ul {list-style: none; margin: 0; width: 100%; padding: 0;}
.mobile_menu_container ul li {position: relative; font-size: 6vw; font-weight: bold; padding: 3vw 2vw;}
.mobile_menu_mask {display:none;}

.follw_me_container {position: absolute; bottom: 0; margin-left: 30px; width: 70px; margin-bottom: 7px;}
.behance_logo {width: 14px; vertical-align: top; margin-top: 3px;}
.instagram_logo {width: 12px; margin-left: 5px;}
.heart_logo {width: 10px; vertical-align: top; margin-top: 4px;}

.fotter_copy {position: fixed; bottom: 11px; right: 16px; font-size: 13px;}
.fotter_toTop {position: fixed; right:10px; bottom:-25px; cursor:pointer;}
.fotter_toTop img {width:25px;}

h1 {display: inline-block; font-size: 1.5vw; color: #575757; margin: 0; padding: 0 0.3vw; border-bottom: 3px solid #ed5f5f; margin-bottom:20px;}
h2 {display: inline-block; font-size: 1vw; color: #575757; margin: 0; padding: 0 0.3vw; border-bottom: 3px solid #ed5f5f; margin-bottom:20px;}

/* input file */
.upload_box {border: 3px solid #157efb; margin: 1vw 0; text-align: center; cursor: pointer;}
.upload_box img {width: 20%;}
.upload_file_name {font-size: 1vw; text-align: center; color: #157efb;}

@media (max-width:1200px) {
	.container {width:90%; margin:auto; margin-top:120px;}
	.left_menu_container {display: none;}
	.mobile_menu_container {display: block; position: absolute; top: 0; right: -55vw; min-height: 100vh; padding-top: 30vh; z-index: 9999; width: 50vw;}
	.mobile_menu_mask {position: fixed; top: 0; left: 0; width: 100%; height: 100vh; z-index: 9998; background-color: #000; opacity: 0; display: none;}
	.mobile_menu_open_btn {display: inline-block; cursor: pointer;}
	.fotter_toTop {display: none !important;}
	.fotter_copy {display: none !important;}
	
	.logo_section {height: 70px;} 
}
