<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.para.dao.workboard.WorkPostDao">
<insert id="InsertPost" useGeneratedKeys="true" keyProperty="post_id" parameterType="com.para.object.workboard.WorkPost">
	INSERT INTO workpost 
		( 
			menu_idx, 
			post_password, 
			post_title, 
			post_contents, 
			writter, 
			write_date, 
			modify_date
		)
	VALUES 
		(
			${menu_idx}, #{post_password}, #{post_title}, #{post_contents},
			#{writter}, #{write_date}, #{modify_date}
		)
</insert>

<update id="UpdatePost">
	UPDATE 
   		workpost
	SET 
		post_password = #{post_password}, 
		post_title = #{post_title}, 
		post_contents = #{post_contents}, 
		writter = #{writter}, 
		modify_date = #{modify_date},
		menu_idx = ${menu_idx}
	WHERE
		post_id = ${post_id}
</update>

<update id="movePost">
	UPDATE 
   		workpost
	SET 
		menu_idx = #{menu_idx}
	WHERE
		post_id IN 
		<foreach collection="ids" item="id" open="(" close=")" separator=",">
			${id}
		</foreach>
</update>

<delete id="DeletePost" parameterType="java.util.List">
	DELETE FROM
		workpost
	WHERE
		post_id IN 
		<foreach collection="ids" item="id" open="(" close=")" separator=",">
			${id}
		</foreach>
</delete>

<select id="getPostById" parameterType="int" resultType="com.para.object.workboard.WorkPost">
	SELECT  
			post_id,
			menu_idx, 
			post_password, 
			post_title, 
			post_contents, 
			writter, 
			write_date, 
			modify_date
    FROM    
    		workpost
    WHERE   
    		post_id = #{post_id}
</select>

<select id="getPostByIds" parameterType="java.util.List" resultType="com.para.object.workboard.WorkPost">
	SELECT  
			post_id,
			menu_idx, 
			post_password, 
			post_title, 
			post_contents, 
			writter, 
			write_date, 
			modify_date
    FROM    
    		workpost
    WHERE   
    		post_id
	IN
			<foreach collection="ids" item="id" open="(" close=")" separator=",">
				${id}
			</foreach>
</select>

<select id="getPostByPaging" parameterType="com.para.object.workboard.WorkPost" resultType="com.para.object.workboard.WorkPost">
	SELECT  
			post_id,
			menu_idx, 
			post_title, 
			writter, 
			write_date, 
			modify_date
    FROM    
    		workpost
    		order by post_id desc limit #{limit_count}, #{limit};
</select>
<select id="getPostByPagingAndMenu" parameterType="com.para.object.workboard.WorkPost" resultType="com.para.object.workboard.WorkPost">
	SELECT  
		post_id,
		menu_idx, 
		post_title, 
		writter, 
		write_date, 
		modify_date
    FROM
    	workpost
    WHERE
    	menu_idx = #{menu_idx}
    	order by post_id desc limit #{pageUtil.limit_count}, #{pageUtil.limit};
</select>
<select id="CountPost" parameterType="int" resultType="int">
	SELECT  
		count(post_id)
    FROM
    	workpost
</select>
<select id="CountPostByMenu" parameterType="int" resultType="int">
	SELECT  
		count(post_id)
    FROM
    	workpost
    WHERE
    	menu_idx = #{menu_idx}
</select>
</mapper>
